<% if @active_passports.any? %>
  <div class="container page-header">
    <i class="fa fa-hand-lizard-o fa-2x active" aria-hidden="true"></i>
    <p>Here's a list of active passports:</p>
  </div>
  <%= render partial: "shared/passports", locals: { passports:@active_passports } %>
<% end %>

<% if @inactive_passports.any? %>
  <div class="container page-header">
    <i class="fa fa-hand-spock-o fa-2x inactive" aria-hidden="true"></i>
    <p>Here's what you missed:</p>
  </div>
  <%= render partial: "shared/passports", locals: { passports:@active_passports } %>
<% end %>
