<div class="container">
  <% cache cache_key_for(Group, "count") do %>
  <% @groups.each do |g| %>
  <div class="card">
    <div class="card-block group">
      <h5 class="cart-title"><%= link_to g.name, group_path(g) %></h5>
      <p class="list-group-item-text muted-text"><%= g.passport.name %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6 class="list-group-item-heading"><%= "#{g.membership_count} Member".pluralize(g.membership_count) %> </h6>
        <p class="list-group-item-text">Established <%= Formatter.parse(g.created_at) %></p>
      </li>
    </ul>
  </div>

  <% end %>
  <% end %>
</div>
