<div class="container">
	<div class="page-header">
		<i class="fa fa-tachometer fa-2x active" aria-hidden="true"></i>
		<p><%= @group.name %></p>
		<span><%= link_to @group.passport.name, passport_path(@group.passport) %></span>
	</div>

	<table class="table table-bordered table-striped table-sm table-group">
  <thead>
    <tr>
      <th>Venue</th>
			<% @users.each do |user| %>
				<th><%= user.name %></th>
			<% end %>
    </tr>
  </thead>
  <tbody>
		<% @venues.each do |venue| %>
		<tr>
			<td>
				<%= venue.name %>
			</td>
			<td></td>
			<td></td>
		</tr>
		<% end %>
  </tbody>
</table>
</div>
