<div class="background-image">
  <div class="container banner-text">
    Are you trying to figure out where to go with your friends?<br />
    <span><%= link_to "Let me help.", passports_path, class: "splash-link" %></span>
  </div>
</div>