<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-sm-up pull-sm-right pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <%= link_to "Passport Helper", root_path, class: "navbar-brand navbar-brand" %>
  <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav pull-md-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
