$primary-yellow: #c9962c
$background-color: #1c1513
$body-bg: #EDEDED
$raleway: 'Raleway', sans-serif

.alert
  position: fixed
  top: 120px
  left: 40%
  width: 25%
  z-index: 7000

.navbar-dark
  border-top: 10px solid $primary-yellow
  background-color: $background-color
  letter-spacing: 2px
  height: 100px
  padding-top: 25px

body
  background-color: $body-bg
  font-family: $raleway
  font-size: 14px
  text-transform: uppercase
  position: relative

.main-body
  margin-top: 100px

.btn-primary, .btn-primary:hover, .btn-primary:active
  background-color: $primary-yellow
  border-color: transparent
  font-weight: 200

.btn-facebook, .btn-facebook:hover, .btn-facebook:active
  // background-color: #3b5998
  background-color: #27476E
  border-color: #006992
  color: #fff
  margin-top: 10px
  text-transform: none

.left-modal
  border-right: 1px solid $primary-yellow

.modal-title
  font-weight: 400

.modal-header
  border-top-right-radius: 4px
  border-top-left-radius: 4px
  background-color: $background-color
  color: #fff
  border-top: 5px solid $primary-yellow

.background-image
  height: 1000px
  background-image: asset-data-url('dpassport.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  width: 100%
  top: 0
  text-align: left
  z-index: -100

.banner-text
  padding-top: 325px
  padding-left: 50px
  padding-right: 50px
  font-size: 2em
  font-weight: 800
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6)
  color: #fff

.banner-text > span
  font-family: "Alex Brush", cursive
  text-transform: none
  font-size: 2.5em
  color: $primary-yellow
  text-shadow: 2px 2px 3px rgba(0,0,0,1)


.card
  max-width: 350px
  margin-top: 30px
  margin-right: 10px
  display: inline-block

.card-block
  height: 100px

.card-title
  font-size: 1.5em

.card-subtitle
  font-size: 0.7em

.footer
  height: 60px
  form
    display: inline-block
    padding-left: 25px

.active_passports
  background-color: red

.content
  height: 6000px

.page-header
  padding-top: 40px
  text-align: center
  p
    font-size: 2em
    padding-top: 10px
  i
    width: 70px
    height: 70px
    padding: 20px
    border-radius: 50%
  i.active
    background-color: $primary-yellow
    color: $body-bg
  i.inactive
    background-color: $background-color
    color: $body-bg

.passport-show
  padding-top: 40px
  text-transform: none

.passport-show-left
  img
    width: 100%
    border-radius: 10px

.passport-show-right
  // padding-top: 107px

.passport-show-venues
  // background-color: red
  padding-top: 20px
  text-align: center

.venue-cards
  margin-top: 40px

.list-group-item-text
  a
    font-size: 0.9em

.list-group-item-heading
  font-size: 1.7em

.list-group-item
  height: 70px

.venue-heading
  background-color: $background-color
  color: white
  height: 75px

input[name="add-to-account"]
  color: #0275d8
  text-decoration: none
  background-color: transparent
  border: none
  text-transform: uppercase
  padding-left: 0px
