$primary-yellow: #c9962c
$background-color: #1c1513
$body-bg: #EDEDED
$raleway: 'Raleway', sans-serif

.navbar-dark
  border-top: 5px solid $primary-yellow
  background-color: $background-color
  letter-spacing: 2px
  height: 100px
  padding-top: 25px

body
  margin-top: 10px
  background-color: $body-bg
  font-family: $raleway
  font-size: 14px
  text-transform: uppercase

.btn-primary, .btn-primary:hover, .btn-primary:active
  background-color: $primary-yellow
  border-color: transparent
  font-weight: 200

.btn-facebook, .btn-facebook:hover, .btn-facebook:active
  // background-color: #3b5998
  background-color: #27476E
  border-color: #006992
  color: #fff
  margin-top: 10px
  text-transform: none

.left-modal
  border-right: 1px solid $primary-yellow

.modal-title
  font-weight: 400

.modal-header
  border-top-right-radius: 4px
  border-top-left-radius: 4px
  background-color: $background-color
  color: #fff
  border-top: 5px solid $primary-yellow

.background-image
  height: 1000px
  background-image: asset-data-url('dpassport.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  width: 100%
  position: absolute
  top: 0
  text-align: left
  z-index: -100

.banner-text
  padding-top: 350px
  padding-left: 50px
  padding-right: 50px
  font-size: 2em
  font-weight: 800
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6)
  color: #fff

.banner-text > span
  font-family: "Alex Brush", cursive
  text-transform: none
  font-size: 2em
  color: $primary-yellow

.card
  max-width: 350px
  margin-top: 10px
  margin-right: 10px
  display: inline-block

.card-block
  height: 100px
