$primary-yellow: #c9962c
$background-color: #1c1513
$body-bg: #EDEDED
$raleway: 'Raleway', sans-serif

.navbar-dark
  border-top: 5px solid $primary-yellow
  background-color: $background-color
  // font-family: $raleway
  // font-size: 14px
  // text-transform: uppercase
  letter-spacing: 1px

body
  margin-top: 10px
  background-color: $body-bg
  font-family: $raleway
  font-size: 14px
  text-transform: uppercase

.btn-primary
  background-color: $primary-yellow
  border-color: transparent

.btn-facebook, .btn-facebook:hover, .btn-facebook:active
  background-color: #3b5998
  border-color: #006992
  color: #fff
  margin-top: 10px
  text-transform: none

.left-modal
  border-right: 1px solid $primary-yellow

.modal-title
  font-weight: bold
